
<div class="container-title">
  <h1>YOUR BOOKINGS</h1>
</div>


<ul class="nav nav-tabs" style="text-decoration: none;">
  <li class="active"><a data-toggle="tab" href="#bookings">YOUR BOOKINGS</a></li>
  <li><a data-toggle="tab" href="#monument">MY MONUMENTS</a></li>
</ul>

<div class="tab-content">
  <div id="bookings" class="tab-pane active">
    <div class="banner-index" style="background-image: url('https://cdn.dribbble.com/users/476275/screenshots/2932195/airplane-drib.png');">
    </div>
  <div class="container">
    <div class="row">
        <% @bookings.each do |booking| %>
        <div class="col-4" style="padding: 10px;">
          <div class="card-trip">
              <% if booking.monument.photos.attached? %>
        <% booking.monument.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to booking.monument.name %></h2>
                  <p><%= booking.start_date %></p>
                  <p><%= booking.end_date %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="monument" class="tab-pane">
    <div class="banner-index" style="background-image: url('https://cdn.dribbble.com/users/1240533/screenshots/5988091/dorsia_prague_4x.jpg');">
    </div>
    <div class="container">
      <div class="row">
        <% current_user.monuments.each do |monument| %>
          <div class="col-4" style="padding: 10px;">
            <div class="card-trip">
              <% if monument.photos.attached? %>
                <% monument.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
              <% end %>
              <div class="card-trip-infos">
                <h2><%= link_to monument.name, monument_path(monument) %></h2>
                <p><%= monument.city %></p>
                <p><%= monument.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
