<div class="banner-index" style="background-image: url('https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
</div>

<div class="container">


  <div class="center title-form">
    <h1><%= @monument.name.upcase %></h1>
  </div>
  <hr>

  <div class="justify-content">
    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="row">

        <div class="col-7">

            <div style="margin: 0px">
              <% if @monument.photos.attached? %>
                <% @monument.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, height: 280, width: 350, :fetch_format=>:auto, crop: :scale %>
                <% end %>
              <% end %>
             <p class="py-3"><%= @monument.description %></p>
          </div>
        </div>

        <div class="col-5">

          <div class="container details-monument">

            <div class="row">
              <div class="col-12">

              <h2>Your dates:</h2>

                <%= simple_form_for([@monument, @booking]) do |f| %>

                  <div class="row">
                    <div class="col-6"><%= f.input :start_date, as: :date, html5: true, label: 'From', class: "form-control mr-3" %></div>
                    <div class="col-6"><%= f.input :end_date, as: :date, html5: true, label: 'To', class: "form-control mr-3" %></div>
                  </div>

                  <hr>

                  <p class="center" style="font-weight: 800;">Price per day: $<%= @monument.price %>M</p>
                  <hr>

                  <% if policy(Booking).create? %>
                    <div class="center"><%= f.submit 'BOOK NOW', class: 'btn btn-form' %></div>
                  <% end %>

                <% end %>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <div class="container details-monument">
    <div class="row">
      <div class="col-12">
        <h2><%= @monument.name.capitalize %> Information :</h2>
        <p class="fas fa-map-marker-alt">   Where : <%= @monument.city %></p>
        <p>Price : <%= @monument.price %>M/day</p>
      </div>
    </div>
  </div>


  <div class="container details-monument reviews">

      <h5>Write a review for <%= @monument.name %></h5>
        <%= simple_form_for([@monument, @review], remote: true) do |f| %>
        <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
  <%= b.radio_button + b.label {''} %>
<% end %>
          <%= f.input :content, class: "form-control mr-3" %>

          <% if policy(Review).create? %>
            <div class="center"><%= f.submit 'Add review', class: 'btn btn-form' %></div>
        <% end %>
      <% end %>
    <% if @monument.reviews.blank? %>

      <p>Be the first to write a review for <%= @monument.name.capitalize %></p>

    <% else %>


      <% @monument.reviews.order("created_at DESC").each do |review| %>

        <div class="review">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face, class: "avatar" %>
          <% end %>
          <div class="review-content">
            <p><small><%= review.created_at %></small></p>
            <p>
             <% review.rating.to_i.times do  %>
                <span class="fas fa-star">
              <% end %>
              <% (5 - review.rating.to_i).times do  %>
                <span class="far fa-star">
              <% end %>
            </p>
            <p>By: <%= review.user.first_name %> <%= review.user.last_name %></p>
            <p>"<%= review.content %>"</p>
          </div>

          <% if review.user == current_user %>
            <div class="review-actions">

               <%= link_to review, method: :delete, remote: true, data: {confirm: "Delete review?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end  %>


            </div>
          <% end %>

        </div>



      <% end %>

    <% end %>








</div>




