<div class="banner-index" style="background-image: url('https://images.pexels.com/photos/2363/france-landmark-lights-night.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
</div>

<div class="container">

  <div class="center title-form">
    <h1><%= @monument.name.upcase %></h1>
  </div>
<hr>
<div class="justify-content">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div style="margin-right: 60px"><%= cl_image_tag @monument.photo.key, height: 300, width: 400, crop: :fill %></div>
    <p><%= @monument.description %></p>
  </div>
</div>

<hr>


<div class="container details-monument">
  <div class="row">
    <div class="col-12">
      <h2><%= @monument.name.capitalize %> Information :</h2>
      <p class="fas fa-map-marker-alt">   Where : <%= @monument.city %></p>
      <p>Price : <%= @monument.price %>M/day</p>
      <div class="center">
        <a href="" class="btn btn-form">CHECK REVIEWS</a>
        <a href="" class="btn btn-form">ADD REVIEW</a>
      </div>
    </div>
  </div>
</div>


<div class="container details-monument">
  <div class="row">
    <div class="col-12">
      <h2>Your dates:</h2>
        <%= simple_form_for([@monument, @booking]) do |f| %>
          <div class="col-6">
            <%= f.input :start_date, as: :date, html5: true, label: 'From', class: "form-control" %>

          </div>
           <div class="col-6">
            <%= f.input :end_date, html5: true, label: 'To', class: "form-control text-center"%>
          </div>

          <hr>
           <p class="center" style="font-weight: 800;">Total price : $<%= @monument.price %>M</p>
           <hr>
          <% if policy(Booking).create? %>
            <div class="center"><%= f.submit 'BOOK NOW', class: 'btn btn-form' %></div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
</div>


