
<div class="container details-monument">
  <div class="row">
    <div class="col-12">
      <h2>Write a review for <%= @monument.name %></h2>

        <%= simple_form_for([@monument, @review]) do |f| %>
          <%= f.input :rating, class: "form-control mr-3" %>
          <%= f.input :content, class: "form-control mr-3" %>

        <% if policy(Review).create? %>
            <div class="center"><%= f.submit 'Add review', class: 'btn btn-form' %></div>
          <% end %>

        <% end %>
    </div>
  </div>
</div>


